---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <h1>How to play</h1>
	<Welcome />
    <ol>
        <li>
            <b>Choose a category</b>
            First, choose a word category, like animals or movies. 
            The computer then randomly selects a secret word from that 
            topic and shows you blanks for each letter of the word.
        </li>
        <li>
            <b>Guess letters</b>
            Take turns guessing letters. The computer fills in the 
            relevant blank spaces if your guess is correct. If it's 
            wrong, you lose some health, which empties after eight 
            incorrect guesses.
        </li>
        <li>
            <b>Win or lose</b>
            You win by guessing all the letters in the word before your 
            health runs out. If the health bar empties before you guess 
            the word, you lose.
        </li>
    </ol>
</Layout>
